[Unit]
Description=PnW Alliance Discord Bot
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=devin
WorkingDirectory=/home/devin/dev/pnwdata
ExecStart=/usr/bin/node bot.js
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
